* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    line-height: normal;
    transition: .4s;
}

:root {
    --primary-clr: #0f766e;
    --primary-clr-hvr: #2dd4bf;
    --void: #000000;
    --dark: #09090b;
}

/* Text Classes */
h1, h2,
span, 
label, 
input {
    color: var(--primary-clr);
}

.fs-1 {
    font-size: 36px;
    font-weight: 900;
}

.fs-2 {
    font-size: 24px;
    font-weight: 700;
}

.fs-timer {
    font-size: 90px;
    font-weight: 700;
}

/* Components */
button, input {
    padding: 8px 18px;
    border: none;
    border-radius: 8px;
    outline: none;
}

button {
    font-size: 20px;
    font-weight: 700;
    background-color: var(--primary-clr);
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-clr-hvr);
    transform: scale(1.1);
}

input {
    background-color: var(--void);
}

input:hover {
    font-size: 16px;
    transform: scale(1.2);
}

/* Display */
.fc {
    display: flex;
    align-items: center;
}