* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    line-height: normal;
    transition: .4s;
}

:root {
    --primary-clr: #0d9488;
    --primary-clr-hvr: #134e4a;
}

/* Text Classes */
h1, h2, h3, h4, h5, h6,
p,
span {
    color: var(--primary-clr);
}

.fs-1 {
    font-size: 36px;
    font-weight: 900;
}

.fs-2 {
    font-size: 24px;
    font-weight: 700;
}

.fs-3 {
    font-size: 15px;
    font-weight: 500;
}

.fs-timer {
    font-size: 90px;
    font-weight: 700;
}

/* Components */
button {
    font-size: 20px;
    font-weight: 700;
    padding: 8px 18px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: var(--primary-clr);
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-clr-hvr);
}


/* Display */
.fc {
    display: flex;
    align-items: center;
}